/*
 Details CSS to order the details page
 */
.details-container {
  display: flex;
  padding: 1px;
  margin-left: 5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 10px;
  height: auto;
  justify-content: center;
}

.details-container img {
  height: 500px;
  width: 350px;
}

.details-title {
  flex: 2;
  color: azure;
}
.details-text-item {
  padding: 10px;
  flex: 1;
  text-align: justify;
  font-size: 1.5em;
}
.details-image-item {
  padding: 5px;
  flex: 1;
  align-items: justify;
}
@media (min-width: 600px) {
  .details-container {
    display: flex;
  }
}
.details-text-title {
  font-weight: bold;
}
