.App {
  text-align: center;
}
img {
  width: 300px;
  height: 400px;
}
.container {
  background: rgba(10, 11, 31, 0.58);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border-spacing: 0;
}
.item {
  padding: 0px;
  border: 10px solid rgba(2, 2, 17, 0.58);
  position: relative;
  overflow: hidden;
  color: #500a44;
}
.overlayText {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  background-color: rgba(15, 1, 1, 0.7);
}
.item:hover .overlayText {
  opacity: 0.6;
  bottom: 0;
}
/*
 Details CSS to order the details page
 */
.details-container img {
  background: rgba(2, 2, 61, 0.58);
  display: flex;
  padding: 3px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: 500px;
  width: 350px;
  margin: 10px;
}

.details-title {
  background-color: rgb(14, 12, 54);
  flex: 2;
  color: azure;
}
.details-text-item {
  padding: 10px;
  flex: 1;
  text-align: justify;
  font-size: 1.5em;
}
.details-image-item {
  padding: 5px;
  flex: 1;
  align-items: justify;
}
@media (min-width: 600px) {
  .details-container {
    display: flex;
  }
}
