.App {
  text-align: center;
}
img {
  width: 300px;
  height: 400px;
}
.container {
  background: rgb(34, 2, 75);
  display: grid;
  top: 0;
  left: 0;
  color: aliceblue;
  text-align: center;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.item {
  padding: 1em;
  position: relative;
  overflow: hidden;
  color: #500a44;
  border: 1em solid rgb(10, 10, 10);
}
.overlayText {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  background-color: rgba(15, 1, 1, 0.7);
  text-align: center;
}
.item:hover .overlayText {
  opacity: 0.6;
  bottom: 0;
  color: aliceblue;
}
/*Loading*/
.loader {
  border: 30px solid #f3f3f3;
  border-radius: 50%;
  border-top: 30px solid blue;
  border-right: 30px solid green;
  border-bottom: 30px solid red;
  border-left: 30px solid rgb(97, 6, 74);
  width: 300px;
  height: 300px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 15vh;
  position: relative;
}
